<h1>Cataloguing</h1>

<%= form_tag("/sources/switch-to") do %>
  <%= select_tag "id", grouped_options_for_select(@grouped_sources) %>

  <button>Edit</button>
<% end %>

<%= form_for(@source) do |f| %>
  <%= f.check_box :catalogued %>
  <%= f.text_field :title %>
  <%= f.select :type, Source::TYPES.map { |s| [s, s] } %>
  <%= f.select :format, Source::FORMATS.map { |f| [f, f] } %>
  <%= f.text_field :date_range %>
  <%= f.select :format, Source::PUBLISHERS.map { |pub| [pub, pub] } %>
  <%= f.text_field :town %>
  <%= f.text_field :sigla %>
  <%= f.text_field :shelfmark %>
  <%= f.text_field :url, label: "URL" %>

  <button>Save</button>

  <table>
    <tr>
      <th>Order</th>
      <th>Composer</th>
      <th>Title</th>
      <th>Functions</th>
      <th>Clefs</th>
      <th>Notes</th>
    </tr>

    <%= f.fields_for(:inclusions, @inclusions) do |i| %>
      <tr>
        <td><%= i.text_field :order %></td>
        <td>
          <%= i.text_field :attributed_to %>
        </td>
        <%= i.fields_for(:piece) do |piece| %>
          <td>
            <%= piece.text_field :title %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <button>Save</button>
<% end %>
