<h1>Cataloguing</h1>

<%= form_tag("/sources/switch-to") do %>
  <%= select_tag "id", grouped_options_for_select(@grouped_sources, params[:id]) %>

  <button>Edit</button>
<% end %>

<%= form_for(@source) do |f| %>
  <%= f.check_box :catalogued %>
  <%= f.text_field :title %>
  <%= f.select :type, Source::TYPES.map { |s| [s, s] } %>
  <%= f.select :format, Source::FORMATS.map { |f| [f, f] } %>
  <%= f.text_field :date_range %>
  <%= f.select :publisher_or_scribe, Source::PUBLISHERS_AND_SCRIBES.map { |pub| [pub, pub] }, include_blank: true %>
  <%= f.text_field :town %>
  <%= f.text_field :rism_link, label: "RISM URL" %>
  <%= f.text_field :url, label: "Image URL" %>

  <button>Save</button>

  <table>
    <tr>
      <th>Order</th>
      <th>Attributed to</th>
      <th>Actual composer</th>
      <th>Title</th>
      <th>Functions</th>
      <th>Clefs</th>
      <th>Notes</th>
    </tr>

    <%= f.fields_for(:inclusions, @inclusions) do |i| %>
      <tr>
        <td><%= i.text_field :order %></td>
        <td>
          <%= i.text_field :attributed_to, label: "&nbsp;" %>
        </td>
        <td>
          <ul>
            <% i.object.attributions.each do |a| %>
              <% if composer = (a.alias&.composer || (a.incorrectly_attributed? && a.composer)) %>
                <li>
                  <%= link_to (composer.name || "(Unnamed composer)"), edit_composer_path(composer), target: "_blank", class: ("incorrectly-attributed" if a.incorrectly_attributed?) %>
                </li>
              <% elsif a.anonym_name.present? %>
                <li><%= link_to "Unresolved", attributions_path, target: "_blank" %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <%= i.fields_for(:piece) do |piece| %>
          <td>
            <%= piece.text_field :title %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <button>Save</button>
<% end %>
