<h1>Compositions</h1>

<%= link_to "New composition", new_admin_composition_path %>

<h2>Select title</h2>
<select class="title composition-list-title">
  <% if @title.present? %>
    <%= options_for_select([[@title.text, @title.id]], selected: @title.id) %>
  <% end %>
</select>

<table>
  <thead>
    <tr>
      <th>
        Type
      </th>
      <th>
        Number of voices
      </th>
      <th>
        Tone
      </th>
      <th>
        Even/odd
      </th>
    </tr>
  </thead>

  <tbody>
    <% @compositions.each do |composition| %>
      <tr>
        <td>
          <%= composition.composition_type&.name %>
        </td>
        <td>
          <%= composition.number_of_voices %>
        </td>
        <td>
          <%= Composition::TONES[composition.tone] %>
        </td>
        <td>
          <%= Composition::EVEN_ODD[composition.even_odd] %>
        </td>
        <td>
          <%= link_to "Show", admin_composition_path(composition) %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_composition_path(composition) %>
        </td>
        <td>
          <%= link_to "Delete", confirm_delete_admin_composition_path(composition) %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
