<h1>Edit composer</h1>
<%= form_tag("/admin/composers/switch-to", class: "composer-select") do %>
  <%= select_tag "id", options_from_collection_for_select(Composer.all.order(:name), :id, :name, params[:id]) %>

  <button>Edit</button>
<% end %>

<%= form_for([:admin, @composer], builder: ActionView::Helpers::FormBuilder) do |f| %>
<div class="composerbasics">
  <p><label for="name">Name</label><%= f.text_field :name %></p>
  <p><label for="image_url">Image URL</label><%= f.text_field :image_url %></p>
  <p><%= image_tag @composer.image_url if @composer.image_url %></p>
  
  <div class="dates">
    <div class="prefix">
    FROM DATE:
    <%= f.text_field :from_year_annotation %>
    <%= f.text_field :from_year %>
    </div>
    <div class="prefix">
    TO DATE:
    <%= f.text_field :to_year_annotation %>
    <%= f.text_field :to_year %>
    </div>
  </div>

    <p><label for="birthplace_1">Birth town</label><%= f.text_field :birthplace_1 %></p>
    <p><label for="birthplace_2">Birth country</label><%= f.text_field :birthplace_2 %></p>

    <p><label for="deathplace_1">Death town</label><%= f.text_field :deathplace_1 %></p>
    <p><label for="deathplace_2">Death country</label><%= f.text_field :deathplace_2 %></p>
  
</div>

  <button class="save">Save</button>

<% end %>

<%= button_to "Delete", admin_composer_path(@composer), method: :delete %>

<%= render "groups/table", headings_partial: "groups/headings", row_partial: "groups/row" %>
