<h1>Edit composer</h1>

<%= form_tag("/composers/switch-to") do %>
  <%= select_tag "id", options_from_collection_for_select(Composer.all.order(:name), :id, :name, params[:id]) %>

  <button>Edit</button>
<% end %>

<%= form_for([:admin, @composer], builder: ActionView::Helpers::FormBuilder) do |f| %>
  <div><%= f.text_field :name %></div>

  <div><%= image_tag @composer.image_url if @composer.image_url %></div>
  <div><%= f.text_field :image_url %></div>

  <div>
    Dates:
    <%= f.text_field :from_year_annotation %>
    <%= f.text_field :from_year %>
    to
    <%= f.text_field :to_year_annotation %>
    <%= f.text_field :to_year %>
  </div>

  <div>
    Birthplace:
    <%= f.text_field :birthplace_1 %>
    <%= f.text_field :birthplace_2 %>
  </div>

  <div>
    Deathplace:
    <%= f.text_field :deathplace_1 %>
    <%= f.text_field :deathplace_2 %>
  </div>

  <div>
    Aliases:
    <%= f.text_area :aliased_as %>
  </div>

  <button>Save</button>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Function(s)</th>
    <th>Editions</th>
    <th>Recordings</th>
    <th>Sources</th>
    <th></th>
  </tr>

  <% @unique_pieces.each do |piece| %>
      <tr>
        <%= form_for([:admin, piece], builder: ActionView::Helpers::FormBuilder) do |f| %>
          <td><%= f.text_field :title %></td>
          <td><%= f.select :feasts, Feast::FEASTS.map { |k, v| [v, k] }, {}, {multiple: true} %></td>
          <td>
            <%= f.fields_for(:editions, builder: ActionView::Helpers::FormBuilder) do |r| %>
              <div>
                <%= r.text_field :voicing, placeholder: "Voicing" %>
                <%= r.text_field :editor, placeholder: "Editor" %>
                <%= r.text_field :file_url, placeholder: "File URL" %>
              </div>
            <% end %>
          </td>
          <td>
            <%= f.fields_for(:recordings, builder: ActionView::Helpers::FormBuilder) do |r| %>
              <div>
                <%= r.text_field :performer, placeholder: "Performer" %>
                <%= r.text_field :file_url, placeholder: "File URL" %>
              </div>
            <% end %>
          </td>
          <td>
            <%= hidden_field_tag :composer_id, @composer.id %>
            <%= f.hidden_field :composers %>
            <%= f.hidden_field :minimum_voices %>
            <button>Save</button>
          </td>
        <% end %>
      </tr>
  <% end %>
</table>
