<h1>Edit composer</h1>
<div class="topform">
  <%= form_tag("/admin/composers/switch-to", class: "composer-select") do %>
    <%= select_tag "id", options_from_collection_for_select(Composer.all.order(:name), :id, :name, params[:id]) %>
    <button>Go to composer...</button>
  <% end %>
</div>

<hr>

<%= form_for([:admin, @composer], builder: ActionView::Helpers::FormBuilder) do |f| %>
<div class="basics">
  <div class="label"><span>Name:</span><%= f.text_field :name %></div>
  
  <div class="dates">
      <label class="label">
        <span style="margin-right:12px">Birth year:</span>
        <%= f.text_field :from_year_annotation %>
        <%= f.text_field :from_year %>
      </label>
      <label class="label">
        <span style="margin-right:12px">Death year:</span>
        <%= f.text_field :to_year_annotation %>
        <%= f.text_field :to_year %>
      </label>
  </div>

  <div class="label"><span>Birth town:</span><%= f.text_field :birthplace_1 %></div>
  <div class="label"><span>Birth country:</span><%= f.text_field :birthplace_2 %></div>

  <div class="label"><span>Death town:</span><%= f.text_field :deathplace_1 %></div>
  <div class="label"><span>Death country:</span><%= f.text_field :deathplace_2 %></div>
  
  <div class="label"><span>Image URL:</span><%= f.text_field :image_url %></div>

</div>

<span class="save-button">
  <button class="save">Save</button>
</span>

<% end %>

<!-- Do we need to be able to delete composers?
<%= button_to "Delete", admin_composer_path(@composer), method: :delete %>
-->

<span class="composer-image"><%= image_tag @composer.image_url if @composer.image_url %></span>

<%= render "groups/table", headings_partial: "groups/headings", row_partial: "groups/row" %>
