<h1>Edit composer</h1>

<%= form_tag("/admin/composers/switch-to", class: "composer-select") do %>
  <%= select_tag "id", options_from_collection_for_select(Composer.all.order(:name), :id, :name, params[:id]) %>

  <button>Edit</button>
<% end %>

<%= form_for([:admin, @composer], builder: ActionView::Helpers::FormBuilder) do |f| %>
  <div class="name"><%= f.text_field :name %></div>

  <div class="image-url-image"><%= image_tag @composer.image_url if @composer.image_url %></div>
  <div class="image-url"><%= f.text_field :image_url %></div>

  <div class="dates">
    Dates:
    <%= f.text_field :from_year_annotation %>
    <%= f.text_field :from_year %>
    to
    <%= f.text_field :to_year_annotation %>
    <%= f.text_field :to_year %>
  </div>

  <div class="birthplace">
    Birthplace:
    <%= f.text_field :birthplace_1 %>
    <%= f.text_field :birthplace_2 %>
  </div>

  <div class="deathplace">
    Deathplace:
    <%= f.text_field :deathplace_1 %>
    <%= f.text_field :deathplace_2 %>
  </div>

  <div class="aliases">
    Aliases:
    <%= f.text_area :aliased_as %>
  </div>

  <button class="save">Save</button>
<% end %>

<table class="unique-pieces">
  <tr>
    <th class="title">Title</th>
    <th class="functions">Function(s)</th>
    <th class="editions">Editions</th>
    <th class="recordings">Recordings</th>
    <th class="sources">Sources</th>
    <th></th>
  </tr>

  <% @grouped_inclusions.each do |unique_piece, inclusions| %>
      <tr>
        <%= form_for([:admin, unique_piece], builder: ActionView::Helpers::FormBuilder) do |f| %>
          <td class="title"><%= f.text_area :title %></td>
          <td class="functions"><%= f.select :feasts, Feast::FEASTS.map { |k, v| [v, k] }, {}, {multiple: true} %></td>
          <td class="editions">
            <%= f.fields_for(:editions, builder: ActionView::Helpers::FormBuilder) do |r| %>
              <div class="edition">
                <%= r.text_field :voicing, placeholder: "Voicing" %>
                <%= r.text_field :editor, placeholder: "Editor" %>
                <%= r.text_field :file_url, placeholder: "File URL" %>
              </div>
            <% end %>
          </td>
          <td class="recordings">
            <%= f.fields_for(:recordings, builder: ActionView::Helpers::FormBuilder) do |r| %>
              <div class="recording">
                <%= r.text_field :performer, placeholder: "Performer" %>
                <%= r.text_field :file_url, placeholder: "File URL" %>
              </div>
            <% end %>
          </td>
          <td>
            <table class="sources">
              <% inclusions.sort_by(&:from_year).each do |inclusion| %>
                <tr class="source">
                  <% source = inclusion.source %>
                  <td class="dates"><%= source.dates %></td>
                  <td class="source-name"><%= link_to source.code, edit_admin_source_path(source), target: "_blank" %></td>
                  <td class="position"><%= inclusion.position %></td>
                  <td class="notes"><%= inclusion.notes %></td>
                </tr>
              <% end %>
            </table>
          </td>
          <td>
            <%= hidden_field_tag :composer_id, @composer.id %>
            <%= f.hidden_field :composers %>
            <%= f.hidden_field :minimum_voices %>
            <button class="save">Save</button>
          </td>
        <% end %>
      </tr>
  <% end %>
</table>
