<h1>Edit composer</h1>
<%= form_tag("/admin/composers/switch-to", class: "composer-select") do %>
  <%= select_tag "id", options_from_collection_for_select(Composer.all.order(:name), :id, :name, params[:id]) %>

  <button>Edit</button>
<% end %>

<%= form_for([:admin, @composer], builder: ActionView::Helpers::FormBuilder) do |f| %>
<div class="composerbasics">
  <label for="name">Name: <%= f.text_field :name %></label>
  <label for="image_url">Image URL: <%= f.text_field :image_url %></label>
  <%= image_tag @composer.image_url if @composer.image_url %></p>
  
  <p class="dates">
      <label>
        <span>From date:</span>
        <%= f.text_field :from_year_annotation %>
        <%= f.text_field :from_year %>
      </label>
      <label>
        <span>To date:</span>
        <%= f.text_field :to_year_annotation %>
        <%= f.text_field :to_year %>
      </label>
  </p>

  <label for="birthplace_1">Birth town: <%= f.text_field :birthplace_1 %></label>
  <label for="birthplace_2">Birth country: <%= f.text_field :birthplace_2 %></label>

  <label for="deathplace_1">Death town: <%= f.text_field :deathplace_1 %></label>
  <label for="deathplace_2">Death country: <%= f.text_field :deathplace_2 %></label>
  
</div>

  <button class="save">Save</button>

<% end %>

<%= button_to "Delete", admin_composer_path(@composer), method: :delete %>

<%= render "groups/table", headings_partial: "groups/headings", row_partial: "groups/row" %>
