<h1>Edit composer</h1>
<%= form_tag("/admin/composers/switch-to", class: "composer-select") do %>
  <%= select_tag "id", options_from_collection_for_select(Composer.all.order(:name), :id, :name, params[:id]) %>

  <button>Go to composer...</button>
<% end %>

<hr>

<%= form_for([:admin, @composer], builder: ActionView::Helpers::FormBuilder) do |f| %>
<div class="composerbasics">
  <label for="name"><span>Name:</span><%= f.text_field :name %></label>
  
  <div class="dates">
      <label>
        <span>Birth year:</span>
        <%= f.text_field :from_year_annotation %>
        <%= f.text_field :from_year %>
      </label>
      <label>
        <span>Death year:</span>
        <%= f.text_field :to_year_annotation %>
        <%= f.text_field :to_year %>
      </label>
  </div>

  <label for="birthplace_1"><span>Birth town:</span><%= f.text_field :birthplace_1 %></label>
  <label for="birthplace_2"><span>Birth country:</span><%= f.text_field :birthplace_2 %></label>

  <label for="deathplace_1"><span>Death town:</span><%= f.text_field :deathplace_1 %></label>
  <label for="deathplace_2"><span>Death country:</span><%= f.text_field :deathplace_2 %></label>
  
  <label for="image_url"><span>Image URL:</span><%= f.text_field :image_url %></label>

</div>

  <button class="save">Save</button>

<% end %>

<%= button_to "Delete", admin_composer_path(@composer), method: :delete %>

<%= image_tag @composer.image_url if @composer.image_url %>

<%= render "groups/table", headings_partial: "groups/headings", row_partial: "groups/row" %>
