<h1>Composers</h1>

<h2>Add composer</h2>
<div class="topform">
  <turbo-frame id="modal-contents">
    <%= flash[:error] %>
    <%= form_for([:admin, Composer.new]) do |f| %>
      <%= f.text_field :name %>
      <%= hidden_field_tag :return_to, params[:return_to] %>
      <button>Create</button>
    <% end %>
  </turbo-frame>
</div>

<h2>Edit existing composers</h2>

<ul class="mainlist">
  <% Composer.order(:name).each do |composer| %>
    <li class="composer"><%= link_to composer.name, edit_admin_composer_path(composer) %></li>
  <% end %>
</ul>
