<%= form_for [:admin, group], url: update_for_group_admin_recordings_path(request.query_parameters.merge(group_id: group.id)) do |f| %>
  <% group.recordings.build %>

  <% group.compositions.each_with_index do |composition, index| %>
    <div class="body-row">
      <div class="col title">
        <%= composition.title.text %>
        <% if group.multiple? %>
          <% if index == 0 %>
            <div>
              Group display name:
            </div>
            <div>
              <%= group.display_title %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col composers">
        <% composition.composers.each do |composer| %>
          <div class="composer">
            <div class="name"><%= composer&.name %></div>

            <% if composer %>
              <span class="dates"><%= composer.dates %></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col minimum-voices tiny">
        <% if index == 0 %>
          <%= composition.number_of_voices %>
        <% end %>
      </div>
      <div class="col sources">
        <table>
          <% composition.inclusions.map(&:source).sort_by(&:code).each do |source| %>
            <tr>
              <td><%= source.code %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col">
        <% if index == 0 %>
          <%= f.fields_for(:recordings, builder: ActionView::Helpers::FormBuilder) do |r| %>
            <div class="recording-upload">
              <%= r.select :performer_id, Performer.order(:name).map {|rec| [rec.name, rec.id] }, include_blank: true %>
              <%= r.text_field :file_url, placeholder: "File URL" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col tiny">
        <% if index == 0 %>
          <button>Save</button>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
