<h1>Attributions</h1>
<button onclick="myFunction()" class="help">Show/hide help</button>
<div id="adminhelp"> <u>Some important things to remember when attributing pieces</u>:
<ul>
  <li>This middle stage of cataloguing is designed to weed out incorrect attributions. If you're unsure about a piece's composer (i.e. if the source you've catalogued has no attribution, or is one of those dodgy Flemish compilations) either leave the piece here on this page unassigned, or confirm it for 'Anon'.</li>
  <li>If you want to add editions/recordings to an anonymous/spurious piece, you'll have to assign it to someone - best practice if there's any doubt is to assign it to 'Anon' AND tick the 'incorrectly attributed' box. This way it'll appear on the table as 'Anon, (attrib:xxx)'.</li>
  <li>If you're sure an attribution is WRONG, then assign the piece to the correct composer here, and make sure you tick the 'incorrectly attributed' box. This stops the alias being assigned to the correct composer, but the public table will still display 'attrib .xxx' in the notes.</li>
  <li>If you accidentally assign a piece to the wrong person, you can get it to reappear on this page by going back to the source, blanking the attribution, saving, and retyping it as if cataloguing for the first time.</li>
  </ul>
</div>
<% (Attribution.unattributed + Attribution.for_unattributed_inclusions).group_by(&:name).each do |name, attribs| %>
  <%= form_tag assign_admin_attributions_path do %>
    <h2><%= name %></h2>

    <table>
      <tr>
        <th class="select"></th>
        <th class="piece-title">Piece</th>
        <th class="source-title">Source</th>
        <th class="notes">Notes</th>
      </tr>

      <% attribs.each_with_index do |attrib, index| %>
        <tr>
          <td class="select">
            <%= check_box_tag "attributions[#{index}][id]", attrib.id %>
            <%= hidden_field_tag "attributions[#{index}][inclusion_id]", attrib.inclusion_id %>
          </td>
          <td class="piece-title"><%= attrib.inclusion.piece.title %> (<%= ClefsInclusion.sort(attrib.inclusion.clefs_inclusions).map(&:annotated_note).join %>)</td>
          <td class="source-title"><%= attrib.inclusion.source.code %> (<%= truncate(attrib.inclusion.source.title, length: 50) %>)</td>
          <td class="notes"><%= attrib.inclusion.notes %></td>
        </tr>
      <% end %>
    </table>

    <label class="incorrectly-attributed">
      <%= check_box_tag "incorrectly_attributed" %>
      Incorrectly attributed?
    </label>

    <%= select_tag "composer_id", options_from_collection_for_select(Composer.all.order(:name), "id", "name") %>

    <button class="resolve">Resolve</button>

    <%= link_to "Create new composer", new_admin_composer_path, target: "_blank", class: "new-composer" %>
  <% end %>
<% end %>
