<h1>Attributions</h1>

<% (Attribution.unattributed + Attribution.for_unattributed_inclusions).group_by(&:name).each do |name, attribs| %>
  <%= form_tag assign_admin_attributions_path do %>
    <h2><%= name %></h2>

    <table>
      <tr>
        <th class="select">Select</th>
        <th class="piece-title">Piece</th>
        <th class="source-title">Source</th>
        <th class="notes">Notes</th>
      </tr>

      <% attribs.each do |attrib| %>
        <tr>
          <td class="select">
            <%= check_box_tag "attributions[][id]", attrib.id %>
            <%= hidden_field_tag "attributions[][inclusion_id]", attrib.inclusion_id %>
          </td>
          <td class="piece-title"><%= attrib.inclusion.piece.title %> (<%= ClefsInclusion.sort(attrib.inclusion.clefs_inclusions).map(&:annotated_note).join %>)</td>
          <td class="source-title"><%= attrib.inclusion.source.code %> (<%= truncate(attrib.inclusion.source.title, length: 50) %>)</td>
          <td class="notes"><%= attrib.inclusion.notes %></td>
        </tr>
      <% end %>
    </table>

    <label class="incorrectly-attributed">
      <%= check_box_tag "incorrectly_attributed" %>
      Incorrectly attributed?
    </label>

    <%= select_tag "composer_id", options_from_collection_for_select(Composer.all.order(:name), "id", "name") %>

    <button class="resolve">Resolve</button>

    <%= link_to "Create new composer", new_admin_composer_path, target: "_blank", class: "new-composer" %>
  <% end %>
<% end %>
