<h1>Attributions</h1>

<%= form_tag assign_admin_attributions_path do %>
  <% (Attribution.unattributed + Attribution.for_unattributed_inclusions).group_by(&:name).each do |name, attribs| %>
    <h2><%= name || "<not attributed>" %></h2>

    <table>
      <tr>
        <th>Select</th>
        <th>Piece</th>
        <th>Source</th>
        <th>Notes</th>
      </tr>

      <% attribs.each do |attrib| %>
        <tr>
          <td>
            <%= check_box_tag "attributions[][id]", attrib.id %>
            <%= hidden_field_tag "attributions[][inclusion_id]", attrib.inclusion_id %>
          </td>
          <td><%= attrib.inclusion.piece.title %> (<%= ClefsInclusion.sort(attrib.inclusion.clefs_inclusions).map(&:annotated_note).join %>)</td>
          <td><%= attrib.inclusion.source.code %> (<%= attrib.inclusion.source.title %>)</td>
          <td><%= attrib.inclusion.notes %></td>
        </tr>
      <% end %>
    </table>

    <label>
      <%= check_box_tag "incorrectly_attributed" %>
      Incorrectly attributed?
    </label>

    <%= select_tag "composer_id", options_from_collection_for_select(Composer.all.order(:name), "id", "name") %>

    <button>Resolve</button>

    <%= link_to "Create new composer", new_admin_composer_path, target: "_blank" %>
  <% end %>
<% end %>
