<% presenter = GroupPresenter.new(group) %>
<tr class="group">
  <td class="title">
    <%= group.display_title %>

    <%if (tone = Composition::TONES[group.compositions.first.tone]).present? %>
      <%= tone %>
    <% end %>

    <%if (even_odd = Composition::EVEN_ODD[group.compositions.first.even_odd]).present? %>
      (<%= even_odd %>)
    <% end %>

    <% group.editions.each do |edition| %>
        <% edition_text = "#{edition.editor.name} #{edition.voicing}" %>
        <% if edition.file_url.present? %>
          <%= link_to edition.file_url, target: "_blank", class: "edition" do %>
            <% if edition.has_pdf? %>
              <%= image_tag "pdf.png" %>
            <% else %>
              <%= image_tag "pound.png" %>
            <% end %>
            <%= edition_text %>
          <% end %>
        <% else %>
          <%= edition_text %>
        <% end %>
    <% end %>
    <% group.recordings.each do |recording| %>
      <% if recording.file_url.present? %>
          <%= link_to recording.file_url, target: "_blank", class: "recording" do %>
            <%= image_tag "listen.png" %>
            <%= recording.performer_name %>
          <% end %>
      <% end %>
    <% end %>
  </td>
  <td><%= presenter.functions %></td>
  <td>
    <% if group.conflicting_attributions? %>
          <% if group.composers.uniq.size == 2 && group.composers.include?(anon_composer) %>
            <% composer = (group.composers.uniq - [anon_composer]).first %>
            <%= composer&.name %>

          <% else %>
            <span class="conflicting">Conflicting attributions</span>
          <% end %>

        <% if composer %>
          <span class="dates"><%= composer.dates %></span>
        <% end %>
    <% else %>
      <% group.composers.uniq.each do |composer| %>
          <%= composer&.name %>

          <% if composer %>
            <span class="dates"><%= composer.dates %></span>
          <% end %>
      <% end %>
    <% end %>
  </td>
  <td><%= group.compositions.first.number_of_voices %></td>
  <td>
    <table>
      <% group.compositions.flat_map(&:inclusions).sort_by {|i| i.from_year || 0}.each do |inclusion| %>
        <tr>
          <% source = inclusion.source %>
          <% source_name = "#{truncate(source.title, length: 40)} (#{source.code})" %>
          <td class="source-name">
              <% if source.url.present? %>
                <span class="tooltip"><%= link_to source_name, source.url, target: "_blank" %><span class="tooltip-text"><%= "#{source.title}" %></span></span>
              <% else %>
                <span class="tooltip"><%= source_name %><span class="tooltip-text"><%= "#{source.title}" %></span></span>
              <% end %>

              <span><%= [source.location_and_pubscribe, source.dates].reject(&:blank?).join(", ") %></span>
              <em>(<%= [source.format, source.type].reject(&:blank?).join(", ") %>)</em>
              <%= link_to "RISM", source.rism_link, target: "_blank" if source.rism_link.present? %>

            <% if admin_user? %>
              <%= link_to "Catalogue source", edit_admin_source_path(source), target: "_blank" %>
              <span class="position">#<%= inclusion.position %></span>
            <% else %>
              <% if inclusion.position %>
                <span class="position">#<%= inclusion.position %></span>
              <% end %>
            <% end %>
          </td>
          <td class="clefs">
            <% if inclusion.clef_combination %>
              <% notes_and_classes(inclusion).each do |(note, classes)| %>
                <%= image_tag "clefs/#{note}.png", alt: note, class: classes %>
              <% end %>
            <% end %>
          </td>
          <td class="attrib"><%= inclusion.public_attrib %></td>
          <td class="notes"><%= inclusion.public_notes %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
