<tr>
  <td class="title"><%= group.display_title %></td>
  <td class="functions"><%= group.functions.map(&:name).join(", ") %></td>
  <td class="composers">
    <% if group.conflicting_attributions? %>
      <div class="composer">
        <div class="name">
          <% if group.composers.uniq.size == 2 && group.composers.include?(anon_composer) %>
            <% composer = (group.composers.uniq - [anon_composer]).first %>
            <%= composer&.name %>

          <% else %>
            Conflicting attributions
          <% end %>
        </div>

        <% if composer %>
          <div class="dates"><%= composer.dates %></div>
        <% end %>
      </div>
    <% else %>
      <% group.composers.uniq.each do |composer| %>
        <div class="composer">
          <div class="name"><%= composer&.name %></div>

          <% if composer %>
            <div class="dates"><%= composer.dates %></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </td>
  <td class="minimum-voices"><%= group.compositions.first.number_of_voices %></td>
  <td class="sources">
    <table>
      <% group.compositions.flat_map(&:inclusions).sort_by {|i| i.from_year || 0}.each do |inclusion| %>
        <tr>
          <% source = inclusion.source %>
          <% source_name = "#{truncate(source.title, length: 40)} (#{source.code})" %>
          <td class="source-name">
            <div>
              <% if source.url.present? %>
                <%= link_to source_name, source.url, target: "_blank" %>
              <% else %>
                <%= source_name %>
              <% end %>
            </div>

            <div class="source-text">
              <%= [source.location_and_pubscribe, source.dates].reject(&:blank?).join(", ") %>
              <em>(<%= [source.format, source.type].reject(&:blank?).join(", ") %>)</em>
              <%= link_to "RISM", source.rism_link, target: "_blank" if source.rism_link.present? %>
            </div>

            <% if admin_user? %>
              <%= link_to "Catalogue source", edit_admin_source_path(source), target: "_blank" %>
            <% end %>
          </td>
          <td class="position"><%= inclusion.position %></td>
          <td class="clefs">
            <% if inclusion.clef_combination %>
              <% inclusion.clef_combination.sorted_clefs.each do |clef| %>
                <%= image_tag "clefs/#{note_for_image(clef, inclusion)}.png",
                  alt: note_for_image(clef, inclusion),
                  class: classes_for_image(clef, inclusion)
                %>
              <% end %>
            <% end %>
          </td>
          <td class="notes"><%= inclusion.public_notes %></td>
        </tr>
      <% end %>
    </table>
  </td>
  <td class="editions">
    <% group.editions.each do |edition| %>
      <div class="edition">
        <% edition_text = "#{edition.editor.name} (#{edition.voicing})" %>
        <% if edition.file_url.present? %>
          <%= link_to edition.file_url, target: "_blank", class: "edition" do %>
            <% if edition.has_pdf? %>
              <%= image_tag "pdf.png" %>
            <% end %>
            <%= edition_text %>
          <% end %>
        <% else %>
          <%= edition_text %>
        <% end %>
      </div>
    <% end %>
  </td>
  <td class="recordings">
    <% group.recordings.each do |recording| %>
      <% if recording.file_url.present? %>
        <div class="recording">
          <%= link_to recording.file_url, target: "_blank", class: "recording" do %>
            <%= image_tag "listen.png" %>
            <%= recording.performer_name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </td>
</tr>
