<h1>The Polyphony Database</h1>
    <a class="contact-email" href="mailto:polyphonydatabase@gmail.com">polyphonydatabase@gmail.com</a>
    <a class="about-link" onclick="$('div.about,span.swivel').toggleClass('open');">About the database<span class="swivel">❯</span></a>
    <div class="about" style="display:none;">
        <p>PolyphonyDatabase.com is a detailed catalogue of early music sources designed to help musicians perform, academics study, and enthusiasts explore a vast and glorious repertoire quickly and easily. It aims to combine the practicality of CPDL with the academic rigour and ambition of the RISM census, to make use of similar projects where possible, and to directly combat the frustrations performing musicians have with all existing resources.</p>
        <p>Its three main goals are:</p>
        <ul>
          <li>To assist performers, directors, and editors by cataloguing the contents of primary sources, source concordances, and basic information about how each piece of music can be performed.</li>
          <li>To provide a reliable starting point for academic research by linking to library catalogues, other existing databases, and facsimile images of early music manuscripts and prints.</li>
          <li>To provide a repository for properly sourced critical editions, performing scores, and recordings of as much of this music as possible, each carefully vetted for typesetting quality and accuracy, and made available for free download, so that this music might be discovered and appreciated by a wider audience.</li>
        </ul>
        <p>The database was founded by Francis Bevan in 2014 as an outlet for his editing hobby and is regularly updated by him and a small team of enthusiasts. If you would like to contribute some cataloguing time, recordings or editions, submit corrections, commission an edition or just donate some cash, please get in touch with Francis via email: <a href="mailto:polyphonydatabase@gmail.com">polyphonydatabase@gmail.com</a>. Read more about the project's history at the <a href="https://www.crowdfunder.co.uk/polyphony-database-improvements">2018 Crowdfunder page</a>.</p>
        <p><strong>The best way to help fund the project is to commission performing editions. New editions can be made quickly for as little as £10.</strong></p>
        <hr>
        <p><strong>Understanding the clef images</strong></p>
            <p style="align-items:center;gap:20px;display:flex;"><span style="float:none;" class="clef-image missing"><img src="/assets/clefs/g2-f2364b6386d962e8aa210a29ca56a125277e0168de13899cd54acf6595297fef.png"></span><span>A red clef means the voice is <strong>missing</strong> from this source. Where there are no concordances to fill in the gaps, this means the piece will require reconstruction.</span></p>
            <p style="align-items:center;gap:20px;display:flex;"><span style="float:none;" class="clef-image incomplete"><img src="/assets/clefs/c3-72db79cf7f95ae92c044929edce81e879d56d470bea1116dbc6463ff5ced5285.png"></span><span>A green clef means the voice is <strong>incomplete</strong> in this source. This might denote a fragment of a larger work, or a e.g. canonic voice that isn't written out in full.</span></p>
            <p style="align-items:center;gap:20px;display:flex;"><span style="float:none;" class="clef-image optional"><img src="/assets/clefs/f4-7e8cb873d6f46f427be57f463ef84cb8cc4d991c9174c9f0f5083184ca769a5f.png"></span><span>A faded clef means much of the piece can be performed without this voice. For example, an extra 6th voice in the Agnus Dei of an otherwise 5vv Mass setting, or a short gimel in a big votive antiphon. Filtering by number of voices will exclude these clefs, while filtering by a specific voice combination will include them.</span></p>
            <p style="align-items:center;gap:20px;display:flex;"><span style="float:none;" class="clef-image"><img src="/assets/clefs/c3c4-808b3935664194fe9de4d8594386a4f23c241035b6b800cddf29007ad2adf2a0.png"></span><span>A blue clef denotes a voice that uses more than one clef in this source - this is particularly prevalent in earlier printed sources. We've estimated the larger clef on the left to be the most used to give an idea of voice distribution at a glance.</span></p>
            <p style="align-items:center;gap:20px;display:flex;"><span style="float:none;" class="clef-image"><img src="/assets/clefs/x3-33941e9411208f47f11202f6850589c9b242588daf120997cc57649579faa437.png"></span><span>An X clef is used as a placeholder for voices we know are necessary, but haven't yet worked out which! This can be because there are no extant sources for a missing voice and no reconstruction has yet been attempted (it will normally become obvious which voice is missing once editing starts), or because we have catalogued a source from an incomplete facsimile that we know to be complete elsewhere.</span></p>
        <p><strong>Links to external resources</strong></p>
            <p>Where available, the title of a source links to facsimile images at one of the many digital vaults hosted by libraries and other institutions round the world. Hovering over the title will also reveal a tooltip with the complete title (normally limited to 40 characters to save space). For printed sources, we also include a link to the RISM catalogue, which is the best place to look for physical holdings and other basic information (though not absolutely exhaustive!).</p>
</div>

<%= render "filters", search_path: root_path %>

<%= render "table" %>

<%= paginate(@groups) %>

<%= form_tag url_for, method: "get", style: "margin: 5px" do %>
  <%= select_tag :page_size,
    options_for_select(%w[25 50 100 200 500], params[:page_size]),
    prompt: "Page size",
    style: "width: auto" %>

  <p style="color: white; padding-top: 5px">
    Warning!  Selecting a very large page size may affect performance.
  </p>

  <% GroupsController::PERSISTENT_PARAMS.each do |param| %>
    <%= hidden_field_tag param, params[param] %>
  <% end %>
    
  <%= submit_tag "Go" %>
<% end %>
