<%= form_for [:admin, group], url: update_for_group_admin_editions_path(request.query_parameters.merge(group_id: group.id)) do |f| %>
  <% group.editions.build %>

  <% group.compositions.each_with_index do |composition, index| %>
    <div class="body-row">
      <div class="title">
        <%= composition.title.text %>
        <% if group.multiple? %>
          <% if index == 0 %>
              Group display name: <%= group.display_title %>
          <% end %>
        <% end %>
      </div>
      <div class="composers">
        <% composition.composers.each do |composer| %>
            <%= composer&.name %>

            <% if composer %>
              <span class="dates"><%= composer.dates %></span>
            <% end %>
        <% end %>
      </div>
      <div class="minimum-voices tiny">
        <% if index == 0 %>
          <%= composition.number_of_voices %>
        <% end %>
      </div>
      <div class="sources">
        <table>
          <% composition.inclusions.map(&:source).sort_by(&:code).each do |source| %>
            <tr>
              <td><%= source.code %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div>
        <% if index == 0 %>
          <%= f.fields_for(:editions, builder: ActionView::Helpers::FormBuilder) do |e| %>
            <div class="edition-upload">
              <span><%= e.text_field :voicing, placeholder: "Voicing" %></span>
              <span><%= e.select :editor_id, Editor.order(:name).map {|ed| [ed.name, ed.id] }, include_blank: true %></span>
              <span><%= e.text_field :file_url, placeholder: "File URL" %></span>
              <div>
                <%= e.check_box :has_pdf %>
                <%= e.label :has_pdf %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="tiny">
        <% if index == 0 %>
          <button>Save</button>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
