<%= f.fields_for(:inclusions, inclusions, builder: ActionView::Helpers::FormBuilder) do |i| %>
  <div class="inclusion body-row">
    <div class="order tiny"><%= i.text_field :order %></div>
    <div class="attributed-to">
      <ul class="composer">
        <%= i.fields_for(:attributions, builder: ActionView::Helpers::FormBuilder) do |a| %>
          <li>
            <%= a.text_field :text %>
            <%= a.select :refers_to_id, composer_list, include_blank: true %>
          </li>
        <% end %>
      </ul>
      <span class="another-att-trigger">+</span>
    </div>

    <div class="composition large">
      <%= i.select :composition_id,
        (comp = i.object.composition).present? ? options_for_select([[comp.text, comp.id]], selected: comp.id) : [],
        {},
        class: "composition" %>

      <%= link_to "Add new composition",
        url_for(page: params[:page], new_composition: true),
        data: { turbo: true, turbo_frame: "modal", turbo_action: "advance" } %>
    </div>

    <div class="clefs large">
      <%= i.fields_for(:clef_inclusions, i.object.clef_inclusions.to_a.sort_by(&:sort_value), builder: ActionView::Helpers::FormBuilder) do |ci| %>
        <%= ci.text_field :display %>
      <% end %>
    </div>
    <div class="notes"><%= i.text_area :notes %></div>
    <div class="delete tiny">
      <% if i.object.persisted? %>
        <%= link_to "✖", admin_inclusion_path(i.object), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
<% end %>
