<%= f.fields_for(:inclusions, inclusions, builder: ActionView::Helpers::FormBuilder) do |i| %>
  <div class="inclusion body-row">
    <div class="order tiny"><%= i.text_field :order %></div>
    <div class="attributed-to">
      <ul class="composer">
        <%= i.fields_for(:attributions, builder: ActionView::Helpers::FormBuilder) do |a| %>
          <li>
            <%= a.text_field :text %>
            <%= a.select :refers_to_id, composer_list, include_blank: true %>
          </li>
        <% end %>
      </ul>
      <span class="another-att-trigger">+</span>
    </div>

    <%= i.fields_for(:composition) do |c| %>
      <%= c.fields_for(:title) do |t| %>
        <div class="title large">
          <%= t.text_area :text %>
        </div>

        <div class="language small">
          <%= t.select :language, Title.languages.keys, prompt: "Language" %>
        </div>
      <% end %>

      <div class="type small">
        <%= c.select :composition_type_id, @composition_types, include_blank: true %>
      </div>

      <div class="tone tiny">
        <%= c.select :tone, Composition::TONES.keys, include_blank: true %>
      </div>

      <div class="even-odd tiny">
        <%= c.select :even_odd, Composition::EVEN_ODD.keys, include_blank: true %>
      </div>
    <% end %>
    <div class="clefs large">
      <% i.object.display_clefs.each do |clef| %>
        <%= text_field_tag "source[inclusions_attributes][#{i.index}][display_clefs][]", clef, size: 3 %>
      <% end %>

      <% (8 - (i.object.display_clefs.count % 8)).times do %>
        <%= text_field_tag "source[inclusions_attributes][#{i.index}][display_clefs][]", nil, size: 3 %>
      <% end %>
    </div>
    <div class="notes"><%= i.text_area :notes %></div>
    <div class="delete tiny">
      <% if i.object.persisted? %>
          <%= link_to "✖", admin_inclusion_path(i.object), method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>
