<h1>Cataloguing</h1>
<button onclick="myFunction()" class="help">Show/hide help</button>
<div id="adminhelp"> <u>Some important things to remember when cataloguing</u>:
<ul>
  <li>For the sake of consistency, please use the 'From year' field for single (i.e. print publication) dates.</li>
  <li>Use modern names for publication towns. A list of translations from Latin can be found <a href="http://www.catholic-history.org.uk/latin_names.htm">here</a>.</li>
  <li>Partial clefs (e.g. an extra voice found in one part of a mass) should be surrounded with round brackets ().</li>
  <li>Missing voices (i.e. that need reconstruction) should be surrounded with square brackets [].</li>
  <li>Parts that are both missing AND partial must have square brackets inside round brackets. So ([c4]) is valid but [(c4)] is not.</li>
  <li>If you need more boxes for titles or clefs, save the page and more will magically appear.</li>
  <li>Separate multiple attributions (i.e. for collaborative pieces - pretty rare) with a pipe |.</li>
  <li>If you find a publisher or scribe that's not in the list, let me know - it's very quick to add things to the list.</li>
</ul>
</div>
<%= form_tag("/admin/sources/switch-to", class: "composer-select") do %>
  <%= select_tag "id", grouped_options_for_select(@grouped_sources, params[:id]) %>

  <button>Edit</button>
<% end %>
<hr>
<%= form_for([:admin, @source]) do |f| %>
<div class="sourcebasics">
  <div class="left">
  <%= f.check_box :catalogued %>
  <%= f.text_area :title %>
  <%= f.select :type, Source::TYPES.map { |s| [s, s] } %>
  <%= f.select :format, Source::FORMATS.map { |f| [f, f] } %>
  <div class="dates">
     <div>
     Dates:
     <%= f.text_field :from_year_annotation %>
     <%= f.text_field :from_year %>
     to
     </div>
     <div>
     <%= f.text_field :to_year_annotation %>
     <%= f.text_field :to_year %>
     </div>
    </div>
  </div>
  <div class="right">
  <%= f.select :publisher_or_scribe, Source::PUBLISHERS_AND_SCRIBES.map { |pub| [pub, pub] }, include_blank: true %>
  <%= f.text_field :town %>
  <%= f.text_field :rism_link, label: "RISM URL" %>
  <%= f.text_field :url, label: "Image URL" %>

  <button class="save">Save</button>
  </div>
 </div>
  <table class="cataloguing">
    <tr>
      <th class="order">Order</th>
      <th class="attributed-to">Attributed to</th>
      <th class="composers">Actual composer</th>
      <th class="title">Title</th>
      <th class="clefs">Clefs</th>
      <th class="notes">Notes</th>
      <th></th>
    </tr>

    <%= f.fields_for(:inclusions, @inclusions, builder: ActionView::Helpers::FormBuilder) do |i| %>
      <tr class="inclusion">
        <td class="order"><%= i.text_field :order %></td>
        <td class="attributed-to">
          <%= i.text_field :attributed_to %>
        </td>
        <td class="composers">
          <ul class="composer">
            <% i.object.attributions.each do |a| %>
              <% if composer = (a.alias&.composer || (a.incorrectly_attributed? && a.composer)) %>
                <li class="resolved #{'incorrectly-attributed' if a.incorrectly_attributed}">
                  <%= link_to (composer.name || "(Unnamed composer)"), edit_admin_composer_path(composer), target: "_blank", class: ("incorrectly-attributed" if a.incorrectly_attributed?) %>
                </li>
              <% elsif a.anonym_name.present? %>
                <li class="unresolved"><%= link_to "Unresolved", admin_attributions_path, target: "_blank" %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <%= i.fields_for(:piece) do |piece| %>
          <td class="title">
            <%= piece.text_area :title %>
          </td>
        <% end %>
        <td class="clefs">
          <%= i.fields_for(:clefs_inclusions, i.object.clefs_inclusions) do |clef_inclusion| %>
            <%= clef_inclusion.text_field :annotated_note, size: 3 %>
          <% end %>
        </td>
        <td class="notes"><%= i.text_area :notes %></td>
        <% if i.object.persisted? %>
          <td class="delete">
            <%= link_to "Delete", admin_inclusion_path(i.object), method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <button class="save">Save</button>
<% end %>
