<h1>Cataloguing</h1>

<div class="topform">
  <%= form_tag("/admin/sources/switch-to", class: "composer-select") do %>
    <%= select_tag "id", options_from_collection_for_select(Source.all.order(:code), :id, :code, params[:id]) %>
    <button>Go to source...</button>
  <% end %>
</div>

<hr>

<%= form_for([:admin, @source], url: admin_source_path(@source, page: params[:page])) do |f| %>
  <div class="basics">
      <div class="label"><%= f.text_field :code %></div>
      <div class="label"><%= f.text_area :title %></div>
      <div class="label includes-select2">
        <%= f.select :publisher_ids,
            Publisher.order(:name).map {|pub| [pub.name, pub.id] },
            {
              label: "Publishers",
            },
            {
              class: "select2",
              multiple: true
            }
          %>
      </div>
      <div class="label includes-select2">
        <%= f.select :scribe_ids,
            Scribe.order(:name).map {|s| [s.name, s.id] },
            {
              label: "Scribes/Editors",
            },
            {
              class: "select2",
              multiple: true
            }
          %>
      </div>
      <div class="label"><%= f.text_field :town %></div>
    
      <div class="dates source-editor">
        <div class="label">
         <span style="margin-right:12px" class="after-me">From year:</span>
         <%= f.text_field :from_year_annotation %>
         <%= f.text_field :from_year %>
        </div>
        <div class="label">
         <span style="margin-right:12px" class="after-me">To year:</span>
         <%= f.text_field :to_year_annotation %>
         <%= f.text_field :to_year %>
        </div>
      </div>
      <div class="label"><%= f.select :type, Source::TYPES.map { |s| [s, s] } %></div>
      <div class="label"><%= f.select :format, Source::FORMATS.map { |f| [f, f] } %></div>
      <div class="label"><%= f.text_field :rism_link, label: "RISM URL" %></div>
      <div class="label"><%= f.text_field :url, label: "Image URL" %></div>
      <div class="label"><%= f.check_box :catalogued %></div>
  </div>

  <span class="save-button"><button>Save</button></span>

  <%= paginate @inclusions %>
  <div class="cataloguing">
    <div class="header-row">
      <div class="order tiny">Order</div>
      <div class="attributed-to">Attributed to  <a class="autofill-composers">autofill</a></div>
      <div class="title large">Title</div>
      <div class="clefs large">Clefs</div>
      <div class="notes">Notes</div>
      <div class="delete tiny">Delete</div>
    </div>

    <% composer_list = Composer.order(:name).map {|c| [c.name, c.id] } %>
    <%= render "catalogue_set", inclusions: @inclusions, composer_list: composer_list, f: f %>

    <% if @blank_inclusions %>
      <%= render "catalogue_set", inclusions: @blank_inclusions, composer_list: composer_list, f: f %>
    <% end %>
    
  </div>

  <%= paginate @inclusions %>

  <span class="save-button"><button>Save</button></span>
<% end %>
