<table>
  <tr>
    <th>Title</th>
    <th>Function</th>
    <th>Composer</th>
    <th>Minimum performers required</th>
    <th>Sources</th>
    <th>
      <div>
        Performing editions
      </div>
      <div>
        Editor (voicing)
      </div>
    </th>
    <th>Listen</th>
  </tr>

  <% @grouped_inclusions.each do |(title, composers, minimum_voice_count), inclusions| %>
    <% piece = inclusions.first.piece %>
    <tr>
      <td><%= title %></td>
      <td><%= piece.feast_names.join(", ") %></td>
      <td>
        <% composers.each do |composer| %>
          <div>
            <div><%= composer.name %></div>
            <div><%= composer.dates %></div>
          </div>
        <% end %>
      </td>
      <td><%= minimum_voice_count %></td>
      <td>
        <table>
          <% inclusions.sort_by(&:from_year).each do |inclusion| %>
            <tr>
              <% source = inclusion.source %>
              <% source_name = "#{source.title} (#{source.code})" %>
              <td>
                <div>
                  <% if source.url.present? %>
                    <%= link_to source_name, source.url, target: "_blank" %>
                  <% else %>
                    <%= source_name %>
                  <% end %>
                </div>

                <div>
                  <%= [source.location_and_pubscribe, source.dates].reject(&:blank?).join(", ") %>
                  <%= source.type %>
                  <%= link_to "RISM", source.rism_link, target: "_blank" if source.rism_link.present? %>
                </div>
              </td>
              <td><%= inclusion.position %></td>
              <td><%= ClefsInclusion.sort(inclusion.clefs_inclusions).map(&:clef).map(&:note).join %></td>
              <td><%= inclusion.notes %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <td>
        <% piece.editions.each do |edition| %>
          <div>
            <% edition_text = "#{edition.editor} (#{edition.voicing})" %>
            <% if edition.file_url.present? %>
              <%= link_to edition.file_url, target: "_blank" do %>
                <%= image_tag "pdf.png" %>
                <%= edition_text %>
              <% end %>
            <% else %>
              <%= edition_text %>
            <% end %>
          </div>
        <% end %>
      </td>
      <td>
        <% piece.recordings.each do |recording| %>
          <% if recording.file_url.present? %>
            <div>
              <%= link_to recording.file_url, target: "_blank" do %>
                <%= image_tag "listen.png" %>
                <%= recording.performer_name %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
