<h1>Edit titles</h1>

<ul>
  <% letter_options.each do |letter| %>
    <li>
      <% if letter == current_letter %>
        <%= letter %>
      <% else %>
        <%= link_to letter, url_for(letter: letter) %>
      <% end %>
    </li>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Function</th>
      <th># inclusions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <%= form_for([:admin, title], builder: ActionView::Helpers::FormBuilder) do |f| %>
        <tr>
          <td><%= f.text_field :text %></td>
          <td class="functions">
            <%= f.select :function_ids,
              options_from_collection_for_select(@functions, :id, :name, title.functions.pluck(:id)),
              {},
              {
                class: "select2",
                multiple: true
              }
            %>
          </td>
          <td><%= title.inclusions_count %></td>
          <td><button>Save</button></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
