<h1>Edit titles</h1>

<%= paginate @titles %>

<%= form_tag update_all_admin_titles_path(page: params[:page]) do %>
  <div class="titles-editor">
    
      <div class="header-row">
        <div>Title</div>
        <div>Function</div>
        <div class="tiny"># inclusions</div>
      </div>

      <% function_options = @functions.map {|f| [f.name, f.id] } %>
      <% @titles.each do |title| %>
        <%= fields_for("titles[]", title, builder: ActionView::Helpers::FormBuilder) do |f| %>
          <div class="body-row">
            <div><%= f.text_area :text %></div>
            <div>
              <%= f.select :function_ids,
                function_options,
                {},
                {
                  class: "select2",
                  multiple: true
                }
              %>
            </div>
            <div class="tiny"><%= title.inclusions_count %></div>
          </div>
        <% end %>
      <% end %>
    
  </div>

  <%= paginate @titles %>

  <button>Save</button>
<% end %>
