<tr>
  <td><%= check_box_tag "groups[]", group.id %></td>
  <td class="title"><%= group.display_title %></td>
  <td class="composers">
    <% group.composers.each do |composer| %>
      <div class="composer">
        <div class="name"><%= composer&.name %></div>

        <% if composer %>
          <div class="dates"><%= composer.dates %></div>
        <% end %>
      </div>
    <% end %>
  </td>
  <td class="minimum-voices"><%= group.compositions.first.number_of_voices %></td>
  <td class="sources">
    <table>
      <% group.inclusions.map(&:source).sort_by(&:code).each do |source| %>
        <tr>
          <td><%= source.code %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
