<% group.compositions.each_with_index do |composition, index| %>
  <div class="body-row <%= 'first-of-group' if index.zero? && group.multiple? %>">
    <div>
      <% if index.zero? %>
        <%= check_box_tag "groups[]", group.id %>
      <% end %>
    </div>
    <div class="title">
      <%= composition.title.text %>
      <% if group.multiple? %>
        <div>
          <%= link_to "Remove from group", confirm_remove_admin_group_path(group, request.query_parameters.merge(composition_id: composition.id)) %>
        </div>
        <% if index.zero? %>
          <div>
            Group display name:
          </div>
          <div>
            <%= group.display_title %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="composers">
      <% composition.composers.each do |composer| %>
        <div class="composer">
          <div class="name"><%= composer&.name %></div>

          <% if composer %>
            <div class="dates"><%= composer.dates %></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="minimum-voices">
      <% if index.zero? %>
        <%= composition.number_of_voices %>
      <% end %>
    </div>
    <div class="sources">
      <table>
        <% composition.inclusions.map(&:source).sort_by(&:code).each do |source| %>
          <tr>
            <td><%= source.code %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
