<!DOCTYPE html>
<html>
  <head>
    <title>MusicCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  </head>

  <body>
   <div class="topbit">
    <ul class="navigation">
      <li><%= link_to "Add & catalogue sources", admin_sources_path, target: "_blank" %></li>
      <li><%= link_to "Resolve attributions", admin_attributions_path, target: "_blank" %></li>
      <li><%= link_to "Add & edit composers", new_admin_composer_path, target: "_blank" %></li>
    </ul>
    <div class="login">
      <% if logged_in? %>
        Logged in as <%= current_user.username %> <%= button_to "Log out", admin_logout_path %>
      <% end %>
    </div>
   </div>
    
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
    
<script src="http://www.prestopublications.co.uk/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">$(".select2").select2();</script>
  </body>
</html>
