<!DOCTYPE html>
<html>
  <head>
    <title>Polyphony Database :: Admin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
   <div class="nav">
    <span class="burger">&#9776;</span>
    <div class="login">
      <% if logged_in? %>
          <span>Logged in as <%= current_user.username %></span> <%= button_to "Log out", admin_logout_path %>
      <% end %>
    </div>
    <ul class="navigation">
      <li><%= link_to "Edit sources", admin_sources_path, target: "_blank" %></li>
      <li><%= link_to "Edit composers", new_admin_composer_path, target: "_blank" %></li>
      <li><%= link_to "Composition grouping", admin_groups_path, target: "_blank" %></li>
      <li><%= link_to "Upload editions", admin_editions_path, target: "_blank" %></li>
      <li><%= link_to "Edit editors", admin_editors_path, target: "_blank" %></li>
      <li><%= link_to "Link recordings", admin_recordings_path, target: "_blank" %></li>
      <li><%= link_to "Edit performers", admin_performers_path, target: "_blank" %></li>
      <li><%= link_to "Edit publishers", admin_publishers_path, target: "_blank" %></li>
      <li><%= link_to "Edit scribes", admin_scribes_path, target: "_blank" %></li>
      <li><%= link_to "Edit voicings", admin_voicings_path, target: "_blank" %></li>
      <li><%= link_to "Edit titles", admin_titles_path, target: "_blank" %></li>
      <li><%= link_to "Clefcombo/voicing matcher", admin_clef_combinations_path, target: "_blank" %></li>
      <li><%= link_to "Public website", root_path %></li>
    </ul>
   </div>
   <div class="adminwrapper">
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
    </div>
<script type="text/javascript">$(".select2").select2();</script>
  </body>
</html>
