<!DOCTYPE html>
<html>
  <head>
    <title>MusicCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
