<!DOCTYPE html>
<html>

  <head>
    <title>Polyphony Database</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </body>

</html>
