<!DOCTYPE html>
<html>
  <head>
    <title>Polyphony Database</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
    <script>
    function myFunction() {
    var x = document.getElementById('topexplanation');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
  </body>
</html>
